.personal-info {
  font-family: "Ubuntu", sans-serif;

  form {
    position: relative;
  }

  h1 {
    margin: 0;
    color: hsl(213, 96%, 18%);
    font-weight: 700;
  }

  p.description {
    color: hsl(231, 11%, 63%);
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 40px;
  }

  label {
    display: block;
    position: relative;
    font-size: 14px;
    margin-bottom: 30px;
    width: 100%;

    @media screen and (max-width: 950px) {
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  input {
    outline: none;
    appearance: none;
    display: block;
    height: 2.5rem;
    margin: 0;
    width: -webkit-fill-available;
    background-color: white;
    border: 1px solid hsl(229, 24%, 87%);
    border-radius: 10px;
    padding-left: 10px;

    font-size: 16px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;

    margin-top: 5px;

    &::placeholder {
      color: hsl(231, 11%, 63%);
      font-weight: 400;
      font-size: 14px;
    }

    &:active,
    &:focus {
      border-color: hsl(213, 96%, 18%);
    }

    &.viewed:invalid {
      border-color: hsl(354, 84%, 57%);
    }
  }

  //   input:invalid + span::before {
  //     content: "This field is required";
  //     color: hsl(354, 84%, 57%);
  //     font-size: 13px;
  //     font-weight: 500;
  //     display: block;
  //     height: 20px;
  //     width: max-content;
  //     position: absolute;
  //     top: 20px;
  //     right: -15px;
  //   }

  input:invalid + span {
    color: hsl(354, 84%, 57%);
    font-size: 13px;
    font-weight: 500;
    display: block;
    height: 20px;
    width: max-content;
    position: absolute;
    top: 0px;
    right: 0px;
  }
  input:valid + span {
    display: none;
  }

  label:nth-child(1).example:has(input:focus)::after,
  label:nth-child(1).example:has(input.viewed:invalid)::after {
    position: absolute;
    bottom: -15px;
    left: 5px;
    content: "e.g. Stephen King";
    font-size: 12px;
    color: hsl(231, 11%, 63%);
  }
}

label:nth-child(2).example:has(input:focus)::after,
label:nth-child(2).example:has(input.viewed:invalid)::after {
  position: absolute;
  bottom: -15px;
  left: 5px;
  content: "e.g. stephenking@lorem.com";
  font-size: 12px;
  color: hsl(231, 11%, 63%);
}

label:nth-child(3).example:has(input:focus)::after,
label:nth-child(3).example:has(input.viewed:invalid)::after {
  position: absolute;
  bottom: -15px;
  left: 5px;
  content: "e.g. +1 123 456 7890 or 123-456-7890";
  font-size: 12px;
  color: hsl(231, 11%, 63%);
}
