@import url("../fonts/myfont.scss");

.side-bar {
  background-image: url(./bg-sidebar-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;

  display: flex;
  flex-direction: column;
  gap: 30px;
}

.step-container {
  display: grid;
  grid-template-columns: 30px 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 20px;
  //   margin-bottom: 30px;

  .icon {
    grid-column: span 1;
    grid-row: span 2;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 30px;

    font-family: "MyFont";
    font-weight: 600;
    color: white;
    font-size: 13px;

    &.filled {
      background-color: hsl(206, 94%, 87%);
      color: hsl(213, 96%, 18%);
    }
  }

  .subtitle {
    align-self: flex-start;

    text-transform: uppercase;
    font-family: "MyFont";
    font-weight: 300;
    color: hsl(228, 100%, 84%);
    font-size: 12px;
  }

  .step-title {
    align-self: flex-end;

    font-family: "MyFont";
    text-transform: uppercase;
    font-weight: 600;
    color: hsl(0, 0%, 100%);
    letter-spacing: 1px;
    font-size: 14px;
  }
}
