@font-face {
  font-family: "MyFont";
  src: url("./Ubuntu-Regular.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "MyFont";
  src: url("./Ubuntu-Medium.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "MyFont";
  src: url("./Ubuntu-Bold.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}
