.thank-you {
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: -webkit-fill-available;
  place-items: center;
  gap: 15px;

  margin-bottom: 40px;
  @media screen and (max-width: 950px) {
    margin-bottom: 0;
  }

  img {
    margin-bottom: 10px;
  }

  h1 {
    margin: 0;
    color: hsl(213, 96%, 18%);
    font-weight: 700;
  }

  p {
    margin: 0;
    color: hsl(231, 11%, 70%);
    text-align: center;
    padding: 0 10px;
    font-size: 16px;
    line-height: 1.5rem;
  }
}
