html {
  height: 100%;
}

body {
  background-color: gray;

  min-height: -moz-available;
  min-height: -webkit-fill-available;
  min-height: fill-available;

  display: grid;
  place-content: center;
}

.container {
  box-sizing: border-box;
  width: 800px;
  height: 600px;
  padding: 15px;
  border-radius: 15px;
  background-color: aliceblue;

  display: grid;
  grid-template-columns: 274px 1fr;
  grid-template-rows: 1fr 100px;
  gap: 15px;

  .side-bar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }

  .content-panel {
    background-color: aquamarine;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .navigation-panel {
    background-color: lavender;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
}

.content {
  display: none;

  &.active {
    display: block;
  }
}
