@font-face {
  font-family: "MyFont";
  src: url("./fonts/Ubuntu-Regular.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "MyFont";
  src: url("./fonts/Ubuntu-Medium.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "MyFont";
  src: url("./fonts/Ubuntu-Bold.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

body {
  font-family: "MyFont";
  font-size: 2rem;
  .bold {
    font-weight: 900;
  }
  .medium {
    font-weight: 600;
  }
  .regular {
    font-weight: 300;
  }
}
